body { font: 14pt arial; }	
#cytoscape, #cytoscape2 { border: 1px solid #888; height: 600px; background: #fff; width: 600px; }	
#commands { position: absolute; right: 0; top: 4.5em; margin: 0.5em; font-size: 0.75em; line-height: 1; }
#commands h2 { margin-top: 1em; font-size: 1.25em; }
label { position: absolute; margin-top: -0.25em; font-size: 0.65em; margin-left: 0.5em; background: #fff; }
#nodes-number, #edges-number, #parent-node { width: 5em; }
.ui-tooltip { font-size: 0.75em; max-width: 400px; }
#string-stylesheet { display: block; min-height: 7em; }
