.project
.DS_Store
.buildpath
.versions
node_modules
npm-debug.log
build
build/*
build/**
documentation/slimerjs-*/**
documentation/api/**
documentation/download/*.zip
benchmark/suite/cytoscape.js

# CI/CD Files
New-Feature-Version.js
merge_unstable_to_master.sh
new-feature-version.sh
