body {
	font: 14pt Helvetica Neue, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	overflow: hidden;
}

#navigation {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 14em;
	background: #f5f5f5;
	border-right: 2px solid #f0f0f0;
	z-index: 1;
	padding: 0.25em;
	overflow-y: auto;
}

#navigation .toc {
	font-weight: 200;
	margin: 0.5em 0;
}

#navigation .lvl1 {
	margin-top: 0.5em;
}

#navigation .lvl2 {
	margin-left: 1em;
	font-size: 0.8em;
}

#navigation .lvl3 {
	margin-left: 2em;
	font-size: 0.7em;
	font-family: Andale Mono, monospace;
}

#navigation .expander {
	cursor: pointer;
	display: none;
	width: 1em;
	text-align: center;
}

#navigation .expander .collapsed-icon {
	display: none;
}

#navigation .expander.collapsed .collapsed-icon {
	display: inline;
}

#navigation .expander .expanded-icon {
	display: inline;
}

#navigation .expander.collapsed .expanded-icon {
	display: none;
}

#navigation .section.collapsed {
	display: none;
}

#content {
	padding: 0 0.25em;
	position: absolute;
	left: 16em;
	right: 0;
	top: 0;
	height: 100%;
	overflow: auto;
}

#demo {
	height: 20em;
	width: 30em;
	border: 1px solid #ddd;
	margin: 1em 0;
}

#demo-code-area.hidden #hide-demo {
	display: none;
}

#show-demo {
	display: none;
}

#demo-code-area.hidden #show-demo {
	display: block;
}

#demo-code-area.hidden #demo-code {
	display: none;
}
 
.title {
	font-weight: 200;
	font-size: 4em;
	line-height: 1.25;
}

.title .version {
	font-size: 0.25em;
	color: #888;
}

.subtitle {
	font-weight: 200;
}

.links {
	color: #ccc;
}

h1 {
	font-size: 2em;
	margin: 1em 0 0.5em 0;
	font-weight: 500;
}

h1 a {
	font-size: 0.5em;
}

h2 {
	font-size: 1.25em;
	margin: 1.6em 0 0.8em 0;
	font-weight: 600;
}

h2 a {
	font-size: 0.8em;
}

h3 {
	font-weight: bold;
	margin: 1em 0;
}

p {
	margin: 1em 0;
}

hr {
	height: 1px;
	background: #ddd;
	border: 0;
}

a {
	color: #4183C4;
	text-decoration: none;
}

a:active {
	background-color: #4183C4;
	color: #fff;
	border-radius: 0.125em;
	box-shadow: 0 0 0 0.2em #4183C4;
}

em {
	font-style: oblique;
}

strong {
	font-weight: bold;
}

ul {
	margin-left: 1.5em;
	list-style-type: disc;
}

/*
code,
pre {
	font-family: Andale Mono, monospace;
	border: 1px solid #ddd;
	border-radius: 0.25em;
	font-size: 0.85em;
	background: #fafafa;
}
*/

code,
pre {
	font-family: Consolas, monospace;
	border: 1px solid #ddd;
	border-radius: 0.25em;
	font-size: 0.76em;
	background: #fafafa;
}

pre {
	margin: 1.25em 0;
	overflow: auto;
}

pre code {
	background: transparent;
	border: 0;
	font-size: 1em;
}

.function .formats ul {
	list-style-type: none;
}

.function pre {
	font-size: 0.8em;
}

.function {
	border-top: 1px solid #eaeaea;
	padding: 1em 0;
	border-bottom: 1px solid #eaeaea;
}

.function + .function {
	margin-top: 1em;
	border-top: 0;
	padding-top: 0;
}

.function .name {
	font-family: Andale Mono, monospace;
	font-weight: bold;
}

.function > .name {
	
}

.function > .formats,
.function > .details {
	padding-left: 0.25em;
	margin: 0.25em 1em;
}

.function .formats {
	margin-top: 1em;
	border: 1px solid #ddd;
	background: #fafafa;
	border-radius: 0.25em;
}

.function .comma:first-child {
	display: none;
}

.function ul.args {
	margin-left: 1em;
	font-size: 0.8em;
}

.function .format {
	margin-bottom: 0.5em;
}

.function .format > .descr {
	font-size: 0.8em;
}

.args .name {
	margin-right: 0.25em;
}

.args .fields {
	margin-left: 1em;
}

.args .fields .name {
	margin-left: 0.5em;
}