html, body {
    margin: 0;
    padding: 0;
    font: 12pt helvetica neue, helvetica, liberation sans, sans-serif;
    line-height: 1;
}

h1 {
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
    font-weight: normal;
    font-size: 1em;
    margin: 0.5em;
    color: #888;
}

#cy {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
